@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00C2FF;
  color: #fff;
  border-radius: 0.5625rem;
}

.navbar-mobile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 6.625rem;
  height: 6.9375rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.875rem;
}
.navbar-menu-link {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104.7%;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
}
.navbar-menu-link:hover {
  color: #00C2FF;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.navbar-link-account {
  color: #00C2FF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104.7%;
  text-transform: uppercase;
}

.navbar-menu-toggle {
  display: none;
}

@media (max-width: 1170px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-button {
    display: none;
  }
  .navbar-menu-line {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform 0.3s;
  }
  .navbar-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-light .navbar-menu-line {
    background-color: #fff;
  }
  .navbar-menu-toggle {
    width: 5rem;
    height: 4.93rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.6875rem;
  }
  .navbar-mobile.is-open {
    display: block;
  }
  .navbar-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 2;
    margin-top: 6.9375rem;
  }
  .navbar-mobile.is-open {
    display: block;
  }
  .navbar-mobile-menu {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.875rem;
    padding: 0;
  }
  .navbar-mobile-link {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-decoration: none;
    color: #292d33;
  }
  .navbar-link {
    display: none;
  }
}
.close-menu .navbar-menu-line:nth-child(2) {
  display: none;
}

.close-menu .navbar-menu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
}

.close-menu .navbar-menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -3px);
}

.header {
  background-image: url("../img/png/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 13, 22, 0.2509803922);
  z-index: -1;
}
.header-content {
  padding-top: 6.25rem;
  color: #fff;
  max-width: 567px;
}
.header-content-title {
  color: inherit;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5.4375rem;
  letter-spacing: 0.1969rem;
}
.header-content-text {
  color: inherit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 108.7%;
  margin: 2.3125rem 0 3.5rem 0;
}
.header-content-button {
  max-width: 15.1875rem;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
}
.header-content-button-svg {
  padding: 7px;
  border-radius: 50px;
  background-color: #fff;
  margin-left: 1.375rem;
}

@media (max-width: 1170px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 360px;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
}