@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  color: #121214;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, span, p {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00C2FF;
  color: #fff;
  border-radius: 0.5625rem;
}

.section {
  padding: 3.125rem 0;
}
.section-title {
  color: #121214;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 3.75rem;
}

.page-button {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  background-color: #00C2FF;
  padding: 0.9375rem;
  z-index: 10;
  border-radius: 0.5625rem;
}
.page-button-svg {
  transform: rotate(90deg);
}

.body-page {
  background-color: #3F3F3F;
}

.navbar-mobile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  width: 6.625rem;
  height: 6.9375rem;
  z-index: 4;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1.875rem;
}
.navbar-menu-link {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104.7%;
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
}
.navbar-menu-link:hover {
  color: #00C2FF;
}

.navbar-link {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.navbar-link-account {
  color: #00C2FF;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104.7%;
  text-transform: uppercase;
}

.navbar-menu-toggle {
  display: none;
  z-index: 4;
}

@media (max-width: 1170px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .navbar-menu {
    display: none;
  }
  .header.is-open::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index: 1;
  }
  .navbar-button {
    display: none;
  }
  .navbar-menu-line {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: transform 0.3s;
  }
  .navbar-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-light .navbar-menu-line {
    background-color: #fff;
  }
  .navbar-menu-toggle {
    width: 5rem;
    height: 4.93rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1.6875rem;
  }
  .navbar-mobile.is-open {
    display: block;
  }
  .navbar-mobile {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 2;
    margin-top: 6.9375rem;
  }
  .navbar-mobile.is-open {
    display: block;
  }
  .navbar-mobile-menu {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1.875rem;
    padding: 0;
    z-index: 2;
  }
  .navbar-mobile-link {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-decoration: none;
    color: #292d33;
  }
  .navbar-link {
    display: none;
  }
}
.close-menu .navbar-menu-line:nth-child(2) {
  display: none;
}

.close-menu .navbar-menu-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
}

.close-menu .navbar-menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -3px);
}

.header {
  background-image: url("../img/png/bg-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  height: 100vh;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 13, 22, 0.2509803922);
  z-index: -1;
}
.header-page {
  background-image: none;
  background-color: #3F3F3F;
  height: auto;
}
.header-page::after {
  display: none;
}
.header-content {
  padding-top: 6.25rem;
  color: #fff;
  max-width: 35.4375rem;
}
.header-content-title {
  color: inherit;
  font-size: 4.375rem;
  font-style: normal;
  font-weight: 800;
  line-height: 5.4375rem;
  letter-spacing: 0.1969rem;
}
.header-content-text {
  color: inherit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 108.7%;
  margin: 2.3125rem 0 3.5rem 0;
}
.header-content-button {
  max-width: 15.1875rem;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
}
.header-content-button-svg {
  padding: 7px;
  border-radius: 50px;
  background-color: #fff;
  margin-left: 1.375rem;
}

.ellipse {
  position: absolute;
  left: 0.625rem;
  top: 0;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #00C2FF;
  border-radius: 3.125rem;
  z-index: -1;
}

.advantages-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}
.advantages-card {
  position: relative;
  max-width: 15.625rem;
}
.advantages-card-title {
  color: #121214;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  padding-top: 3.75rem;
  margin-bottom: 0.625rem;
}
.advantages-card-text {
  color: #121214;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3rem;
}
.advantages-card-svg {
  position: absolute;
  left: 0;
  top: 0.625rem;
}

.routes {
  background-color: #f7f7f7;
}
.routes-title {
  margin-bottom: 0;
}
.routes-wrapper {
  display: flex;
  margin-top: 4.1875rem;
  gap: 1.875rem;
}
.routes-wrapper-reverse {
  flex-direction: row-reverse;
}

.route {
  display: flex;
  gap: 1.0625rem;
}
.route-line {
  width: 5rem;
  height: 0.25rem;
  background-color: #00C2FF;
  margin-top: 1.1875rem;
}
.route-text {
  max-width: 32.75rem;
  color: #121214;
}
.route-text-title {
  color: inherit;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.route-text-price {
  color: inherit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin: 0.625rem 0 1.25rem 0;
}
.route-text-info {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
  margin-bottom: 0.625rem;
}
.route-subtitle {
  margin-top: 0.625rem;
  color: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.8125rem;
}
.route-subtext {
  color: inherit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem;
}
.route-button {
  display: flex;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
.route-button-primary {
  background-color: #f7f7f7;
  color: #00C2FF;
  border: 1.5px solid #00C2FF;
  padding: 0.875rem 0;
  width: 11.25rem;
  transition: 0.3s;
}
.route-button-primary:hover {
  text-shadow: 1px -1px 1px #00C2FF;
  box-shadow: 0px 0px 4px #00C2FF;
}
.route-button-basic {
  padding: 0.875rem 0;
  width: 11.25rem;
  transition: 0.3s;
}
.route-button-basic:hover {
  text-shadow: 1px -1px 1px #fff;
  box-shadow: 0px 0px 4px #00C2FF;
}

.swiper {
  max-width: 28.125rem;
  position: relative;
  margin-left: 0;
  margin-right: 0;
}
.swiper-wrapper {
  height: 100%;
}
.swiper-route-image {
  width: 20.25rem;
  height: 20.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5625rem;
}

.slider-button {
  position: static;
  margin-top: 0.9375rem;
  display: flex;
  gap: 0.875rem;
}
.slider-button-reverse {
  justify-content: flex-end;
}
.slider-button-prev {
  background-color: #00C2FF;
  border-radius: 3.125rem;
  padding: 0.5rem 0.625rem;
  cursor: pointer;
  transition: 0.2s;
}
.slider-button-prev:hover {
  opacity: 0.7;
}
.slider-button-next {
  background-color: #00C2FF;
  border-radius: 3.125rem;
  padding: 0.5rem 0.625rem;
  cursor: pointer;
  transition: 0.2s;
}
.slider-button-next:hover {
  opacity: 0.7;
}

.help {
  background-image: url("../img/png/bg-help.jpeg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-title {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: inherit;
  margin-bottom: 0.625rem;
  text-align: center;
}
.help-text {
  color: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 1.6875rem;
  text-align: center;
}
.help-button {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding: 0.8125rem;
}

.swiper-gallery {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.swiper-wrapper {
  width: 100%;
  position: relative;
}
.swiper-gallery-image {
  width: 22.5rem;
  height: 22.5rem;
  border-radius: 0.5625rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery-button {
  margin-top: 1.6875rem;
  position: static;
  display: flex;
  justify-content: center;
  gap: 0.9375rem;
}
.gallery-button-next {
  background-color: #00C2FF;
  padding: 0.625rem 0.6875rem;
  border-radius: 50%;
  cursor: pointer;
}
.gallery-button-prev {
  position: static;
  background-color: #00C2FF;
  padding: 0.625rem 0.6875rem;
  border-radius: 50%;
  cursor: pointer;
}

.conditions {
  position: relative;
  z-index: -1;
  background-image: url("../img/png/bg-conditions.jpeg");
}
.conditions::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.45;
  z-index: -1;
}
.conditions-title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  max-width: 31.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  position: relative;
  z-index: 10;
}
.conditions-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.conditions-card {
  background-color: #fff;
  border-radius: 0.5625rem;
  display: flex;
  align-items: start;
  gap: 0.875rem;
  min-height: 7.1875rem;
  padding: 0.9375rem 0.9375rem;
}
.conditions-card-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #121214;
}
.conditions-card-text span {
  font-weight: 700;
}
.conditions-card-svg {
  background-color: #00C2FF;
  padding: 0.625rem;
  border-radius: 50%;
}

.offers-wrapper {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}
.offers-card {
  background-color: #f7f7f7;
  display: flex;
  position: relative;
  border-radius: 0.5625rem;
  gap: 1.75rem;
  overflow: hidden;
}
.offers-card-text {
  margin-top: 1.5625rem;
  padding-right: 0.9375rem;
  max-width: 15.4375rem;
}
.offers-card-text-title {
  color: #00C2FF;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 139%;
  margin-bottom: 1.5rem;
}
.offers-card-text-subtitle {
  color: #121214;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.offers-card-image {
  width: 16.5rem;
  height: 19.4375rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5625rem 0rem 0rem 0.5625rem;
}
.offers-card-svg {
  position: absolute;
  bottom: -4px;
  right: 0;
}

.questions {
  background-color: #f7f7f7;
}
.questions-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.questions-text {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  max-width: 50%;
}
.questions-text-card {
  border: 1px solid #848484;
  padding: 1.3125rem;
  color: #121214;
  max-width: 50rem;
  border-radius: 2px;
  transition: border 0.3s;
}
.questions-text-card:hover {
  border: 1px solid #00C2FF;
}
.questions-text-card.is-open {
  border: 1px solid #00C2FF;
}
.questions-text-card-visible {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
.questions-text-card-title {
  color: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.questions-text-card-hidden {
  display: none;
}
.questions-text-card-hidden.is-open {
  display: block;
  color: inherit;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3125rem;
  max-width: 24.4375rem;
  margin-top: 1.8125rem;
}
.questions-asking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #121214;
  max-width: 50%;
}
.questions-asking-title {
  color: inherit;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  margin-top: 0.625rem;
  margin-bottom: 0.9375rem;
}
.questions-asking-text {
  color: inherit;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  max-width: 31.25rem;
  margin-bottom: 1.25rem;
}
.questions-asking-button {
  padding: 1.1875rem 0;
  width: 13.875rem;
}

.quest-svg.is-open {
  fill: #00C2FF;
  transform: rotate(-90deg);
}

.seporator {
  content: "";
  max-width: 28.5625rem;
  height: 0.1875rem;
  background-color: #00C2FF;
}

.contacts {
  background-color: #fff;
}
.contacts-map {
  border: none;
}
.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 3.125rem;
  color: #121214;
}
.contacts-title {
  color: inherit;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140.4%;
}
.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.5rem;
}
.contacts-list-item {
  color: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124.187%;
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}
.contacts-list-link {
  color: inherit;
}
.contacts-list-svg {
  background-color: #00C2FF;
  padding: 10px 12px;
  width: -moz-max-content;
  width: max-content;
  border-radius: 50%;
}

.maps {
  border: none;
}

.footer {
  padding-bottom: 2.5rem;
  background-color: #fff;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer-list-item-link {
  color: #121214;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 104.7%;
  text-transform: uppercase;
  transition: 0.2s;
}
.footer-list-item-link:hover {
  color: #00C2FF;
}
.footer-copy {
  color: #787878;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 126.687%;
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
}

.hero {
  background-color: #3F3F3F;
}
.hero-wrapper {
  background-color: #fff;
  border-radius: 0.5625rem;
  padding: 2.8125rem 0;
  margin: 2.8125rem 0;
}
.hero-routes {
  margin-top: 0;
}
.hero-routes-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.hero-routes-title::after {
  content: "";
  width: 5rem;
  height: 0.1875rem;
  background-color: #00C2FF;
}
.hero-container {
  max-width: 60rem;
  margin: 0 auto;
}
.hero-seporator {
  margin: 2.8125rem 0;
}
.hero-title {
  color: #121214;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero-advantages-wrapper {
  margin-top: 1.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.hero-advantages-card {
  display: flex;
  gap: 0.9375rem;
}
.hero-advantages-text-title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 0.625rem;
}
.hero-advantages-text-subtitle {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero-walk-text {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #121214;
}
.hero-walk-text span {
  color: #00C2FF;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
}

.schedule-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1.625rem;
  margin-bottom: 0.75rem;
}
.schedule-title span {
  font-weight: 400;
}
.schedule-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.schedule-day {
  display: flex;
  align-items: center;
  gap: 3.4375rem;
}
.schedule-day-date {
  display: flex;
  align-items: center;
  gap: 0.875rem;
  width: 9.375rem;
}
.schedule-day-number {
  color: #000;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.schedule-day-week {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.schedule-day-time {
  display: flex;
  gap: 0.375rem;
}
.schedule-day-time-link {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.625rem 1rem;
  background-color: #00C2FF;
  border-radius: 0.5625rem;
  transition: 0.2s;
}
.schedule-day-time-link:hover {
  background-color: #00C2FF;
  opacity: 0.7;
}

.reservation-info {
  margin-top: 1.75rem;
  display: flex;
  align-items: center;
  gap: 2.8125rem;
  justify-content: flex-end;
}
.reservation-info-price {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.reservation-info-button {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
}
.reservation-button-primary {
  background-color: #fff;
}

.form {
  margin-top: 1.625rem;
  -moz-columns: 2;
       columns: 2;
  max-width: 46.875rem;
  gap: 2.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}
.input-group-label {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.input-group-input {
  height: 2.8125rem;
  border-radius: 0.5625rem;
  border: 0.0625rem solid #00C2FF;
  background-color: #fff;
  padding: 0 0.625rem;
  width: 100%;
}

.login-form {
  margin: 3.75rem auto;
  max-width: 23.9375rem;
  background-color: #fff;
  border-radius: 0.5625rem;
  box-shadow: 0rem 0rem 2.8125rem 1.875rem rgba(0, 0, 0, 0.25);
  padding: 4.875rem 2.375rem;
}
.login-title {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1.8125rem;
  text-transform: uppercase;
}
.login-input-group {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  margin-bottom: 0.9375rem;
}
.login-label {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
}
.login-input {
  border-radius: 0.5625rem;
  background: #FFF;
  box-shadow: 0rem 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border: none;
  height: 2.5rem;
  padding: 0 0.625rem;
}
.login-button {
  margin-top: 1.8125rem;
  padding: 1.125rem 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
}
.login-button:hover {
  opacity: 0.7;
}
.login-info {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 0.875rem;
}
.login-info a {
  color: #00C2FF;
  margin-left: 0.3125rem;
}

@media (max-width: 1170px) {
  .container {
    max-width: 992px;
  }
  .route-line {
    display: none;
  }
  .conditions-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .offers-card-image {
    width: 12.5rem;
    height: 19.4375rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-container {
    max-width: 53.125rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 768px;
  }
  .header-logo {
    width: 5.125rem;
    height: 5.125rem;
  }
  .advantages-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }
  .offers-svg {
    position: absolute;
    bottom: -0.25rem;
    right: -3.125rem;
  }
  .contacts-wrapper {
    flex-direction: column;
  }
  .maps {
    width: 100%;
  }
  .footer-list {
    gap: 2rem;
  }
  .hero-container {
    max-width: 46.875rem;
  }
  .hero-routes-title::after {
    display: none;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    max-width: 576px;
  }
  .header {
    height: 100%;
  }
  .header-content {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    max-width: 300px;
  }
  .header-content-title {
    font-size: 2.5rem;
    max-width: 300px;
    line-height: normal;
  }
  .header-content-text {
    font-size: 1.2rem;
  }
  .routes-wrapper {
    flex-direction: column;
  }
  .swiper {
    max-width: 100%;
  }
  .slider-button-reverse {
    justify-content: flex-start;
  }
  .offers-wrapper {
    flex-direction: column;
  }
  .offers-card {
    width: 100%;
  }
  .offers-card-image {
    width: 16.5rem;
    height: 19.4375rem;
  }
  .offers-svg {
    right: 0;
  }
  .questions-wrapper {
    flex-direction: column;
    gap: 2.5rem;
  }
  .questions-text {
    max-width: 100%;
  }
  .questions-asking {
    max-width: 100%;
  }
  .footer-list {
    flex-direction: column;
    align-items: start;
    gap: 0.625rem;
  }
  .hero-container {
    max-width: 31.25rem;
  }
  .hero-seporator {
    margin: 1.5625rem 0;
  }
  .hero-routes-title::after {
    display: block;
  }
  .hero-advantages-wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.875rem;
  }
  .schedule-day {
    flex-direction: column;
    align-items: start;
    gap: 0.625rem;
  }
  .schedule-day-time {
    flex-wrap: wrap;
  }
  .reservation-info {
    flex-direction: column;
    align-items: start;
    gap: 15px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 360px;
  }
  .swiper-route-image {
    width: 15.625rem;
    height: 15.625rem;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .routes-wrapper {
    margin-top: 2.8125rem;
  }
  .route-text-title {
    font-size: 1.7rem;
  }
  .route-text-price {
    font-size: 1.25rem;
  }
  .help-wrapper {
    gap: 1.875rem;
  }
  .help-title {
    font-size: 1.7rem;
  }
  .help-text {
    font-size: 1.2rem;
  }
  .swiper-gallery-image {
    width: 15.625rem;
    height: 15.625rem;
  }
  .conditions-wrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0.9375rem;
  }
  .offers-card {
    flex-direction: column;
    height: 34.375rem;
  }
  .offers-card-text {
    margin-top: 0;
    padding-left: 0.9375rem;
    max-width: 100%;
  }
  .offers-card-image {
    width: 100%;
    border-radius: 0.5625rem 0.5625rem 0 0;
  }
  .contacts-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-container {
    max-width: 80%;
  }
  .form {
    -moz-columns: 1;
         columns: 1;
  }
  .reservation-info-button {
    width: 100%;
    flex-direction: column;
  }
  .reservation-button-primary {
    width: 100%;
  }
  .reservation-button-basic {
    width: 100%;
  }
  .login-form {
    max-width: 22.5rem;
  }
}
@media (max-width: 320px) {
  .container {
    max-width: 280px;
  }
  .route-button {
    flex-direction: column;
  }
}