@media (max-width: 1170px)
    .container
        max-width: 992px
@media (max-width: 992px)
    html
        font-size: 14px
    .container
        max-width: 768px
    .header
        &-logo
            width: 5.125rem
            height: 5.125rem
    .advantages
        &-wrapper
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 1.875rem
@media (max-width: 768px)
    html
        font-size: 14px
    .container
        max-width: 576px
    .header
        height: 100%
        &-content
            padding-top: 50px
            padding-bottom: 50px
            &-title
                font-size: 2.5rem
                line-height: normal
            &-text
                font-size: 1.2rem
@media (max-width: 576px)
    .container
        max-width: 360px
@media (max-width: 320px)
    .container
        max-width: 280px
