@media (max-width: 1170px)
    .container
        max-width: 992px
    .route
        &-line
            display: none
    .conditions
        &-wrapper
            grid-template-columns: repeat(2, 1fr)
    .offers
        &-card
            &-image
                width: 12.5rem
                height: 19.4375rem
                object-fit: cover
@media (max-width: 992px)
    html
        font-size: 14px
    .container
        max-width: 768px
    .header
        &-logo
            width: 5.125rem
            height: 5.125rem
    .advantages
        &-wrapper
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 1.875rem
    .offers
        &-svg
            position: absolute
            bottom: -0.25rem
            right: -3.125rem
    .contacts
        &-wrapper
            flex-direction: column
    .maps
        width: 100%
    .footer
        &-list
            gap: 2rem
@media (max-width: 768px)
    html
        font-size: 14px
    .container
        max-width: 576px
    .header
        height: 100%
        &-content
            padding-top: 3.125rem
            padding-bottom: 3.125rem
            max-width: 300px
            &-title
                font-size: 2.5rem
                max-width: 300px
                line-height: normal
            &-text
                font-size: 1.2rem
    .routes
        &-wrapper
            flex-direction: column
    .swiper
        max-width: 100%
    .slider
        &-button
            &-reverse
                justify-content: flex-start
    .offers
        &-wrapper
            flex-direction: column
        &-card
            width: 100%
            &-image
                width: 16.5rem
                height: 19.4375rem
        &-svg
            right: 0
    .questions
        &-wrapper
            flex-direction: column
            gap: 2.5rem
        &-text
            max-width: 100%
        &-asking
            max-width: 100%
    .footer
        &-list
            flex-direction: column
            align-items: start
            gap: .625rem
@media (max-width: 576px)
    .container
        max-width: 360px
    .swiper
        &-route
            &-image
                width: 15.625rem
                height: 15.625rem
    .section
        &-title
            font-size: 1.5rem
    .routes
        &-wrapper
            margin-top: 2.8125rem
    .route
        &-text
            &-title
                font-size: 1.7rem
            &-price
                font-size: 1.25rem
    .help
        &-wrapper
            gap: 1.875rem
        &-title
            font-size: 1.7rem
        &-text
            font-size: 1.2rem
    .swiper-gallery-image
        width: 15.625rem
        height: 15.625rem
    .conditions
        &-wrapper
            grid-template-columns: repeat(1, 1fr)
            row-gap: .9375rem
    .offers
        &-card
            flex-direction: column
            height: 34.375rem
            &-text
                margin-top: 0
                padding-left: .9375rem
                max-width: 100%
            &-image
                width: 100%
                border-radius: .5625rem .5625rem 0 0
    .contacts
        &-list
            grid-template-columns: repeat(1,1fr)
@media (max-width: 320px)
    .container
        max-width: 280px
    .route
        &-button
            flex-direction: column
