.header
    background-image: url('../img/png/bg-hero.png')
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    position: relative
    z-index: 1
    height: 100vh
    &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #060D1640
        z-index: -1
    &-content
        padding-top: 6.25rem
        color: $white
        max-width: 35.4375rem
        &-title
            color: inherit
            font-size: 4.375rem
            font-style: normal
            font-weight: 800
            line-height: 5.4375rem
            letter-spacing: .1969rem
        &-text
            color: inherit
            font-size: 1.5rem
            font-style: normal
            font-weight: 500
            line-height: 108.7%
            margin: 2.3125rem 0 3.5rem 0
        &-button
            max-width: 15.1875rem
            padding: .75rem 0
            font-size: .875rem
            font-style: normal
            font-weight: 600
            &-svg
                padding: 7px
                border-radius: 50px
                background-color: #fff
                margin-left: 1.375rem
